<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
</head>
<body>
	<h1>Registration</h1>
	<h3 th:if="${userAlreadyExist != null}" th:text="${userAlreadyExist}"></h3>
	<form th:action="@{/user/registration}" th:object="${user}" method="POST">
	    <div>
	        <label>first</label>
	        <input th:field="*{firstName}"/>
	        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
	    </div>
	    <div>
	        <label>last</label>
	        <input th:field="*{lastName}"/>
	        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
	    </div>
	    <div>
	        <label>email</label>
	        <input type="email" th:field="*{email}"/>
	        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
	    </div>
	    <div>
	        <label>password</label>
	        <input type="password" th:field="*{password}"/>
	        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
	    </div>
	    <div>
	        <label>confirm</label>
	        <input type="password" th:field="*{matchingPassword}"/>
	        <span th:if="${#fields.hasErrors('${user}')}" th:errors="${user}"></span>
	    </div>
	    <button type="submit">submit</button>
	</form>

</body>
</html>